

header {

    display: flex;
    
    }

.logo{

    flex: 1;

}

.title {

    flex: 4;
    text-align: right;
    text-transform: uppercase;

}

.row{
   margin: 0px;
}

.item-container {
   
    display: flex;
    justify-content: space-between;
    
 }
 
.img-fluid{
   justify-content: center;
   margin: 2px;
}
 .item {
   
    text-align: center;
 }
 
 @font-face {
    font-family: "Main title";
    src: url(../fonts/Lato.ttf) format("truetype");
 }
 
 @font-face {
    font-family: Text;
    src: url(../fonts/Lato.ttf) format("truetype");
 }
 
 .container {
    width: 800px;
    font-family: Text, sans-serif;
    justify-content: center;
    margin: auto;
 }
 
 .title > h1 {

    font-family: "Main title", sans-serif;
    font-size: 2.5rem;
    color: #bcbbbb;

 }

.title >  h3 {

    font-size: small;

 }

 h2 {

    font-size: 1.6rem;
    font-weight: bold;
    color: #bcbbbb;
    
 }

 .item > h3{

    text-transform: uppercase;
    font-size: 1.6rem;
    color: #747704; 

 }

 .item > a{
    text-decoration: none;
    font-weight: bold;
    font-size: smaller;
    color: #747704; 
 }