.cabecera {
    
    background: linear-gradient(to right, rgb(22, 158, 22), #FBD83F);
    display: flex;
}

.ubicacion{
    display: flex;
    color: white;
}

.img-ubi{
    padding-top: 30px;
}
.correo{
    padding-left: 40px;
    display: flex;
    color: white;
}

.request{
    display: flex;
    color: white;
    margin-left: auto;
    margin-right: 40px;
}



.general{
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}


#bar, .icon-menu, .tit{
    display: none;
}

@media screen and (max-width:800px){
    header{
        display: none;
    }
    #bar{
        width: 50px;
        height: 70px;  
        position:fixed;
        top: 0px;
        background-color: rgb(255, 0, 0);
        
    }
    .icon-menu{
        width: 50px;
        height: 50px;
        display: block;
        color:white;
        font-size: 30px;
        left:20px;
        position: absolute;
        top: 20px;
        z-index: 1000000;
    }
    .sota-header{
        height: 70px;
        position: fixed;
        width: 100%;
        background: rgb(255, 255, 255);
        top: 0px;
        z-index: 10;
    }   
    .cab_nav{
        display: block;
        width: 70%;
        height: 100%;
        position: fixed;
        top: 0px;
        margin: 0;
        transform: translateX(-1000%);
        background-color: rgb(255, 255, 255);
        transition: all 0.7s ease-in;
    }
    .tit{
        z-index: 100000;
        position: absolute;
        top:25px;
        font-size: 30px;
        color: #34B302;
        left: 80px;
        display: block;
    }
    .caja > img{
        width: 100%;
    }
    .Body_1{
        padding-top: 90px;
    }
    .text_footer{
        display: none;
       
    }
}

.icon-menu{
    width: 50px;
    height: 50px; 
}

.cab_nav{
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
}